.navbar {
    background-color: white;
    width: 100%;
    box-shadow: 1px 31px 50px 0px rgb(203, 222, 255);
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    margin: 0 auto;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 3rem;
    padding-right: 3rem;
    max-width: var(--max-content-width);
}

.logo {
    flex: 0 1;
    height: 3em;
}

.menu {
    flex: 0 0 3em;
    display: flex;
    height: 3em;
}