.radioList {
    display: grid;
    grid-template-columns: 2em 1fr;
    grid-auto-rows: minmax(2em, auto);
    gap: 0.5em;
}

.label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


/* No, you can't directly style radios. Only Hacks. */
/* https://stackoverflow.com/a/68003309 */
.radio {
    border: 5px solid white;
    box-shadow: 0 0 0 2px #817e86;
    appearance: none;
    border-radius: 50%;
    background-color: #fff;
}

.radio:checked {
    background-color: #4c3272;
    box-shadow: 0 0 0 2px #4c3272;
}